<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.www.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.www.pojo.User">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        age,gender,email
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        where 
    </select>

    <!--
    resultType：自动映射，用于属性名和表中字段名一致的情况
    resultMap：自定义映射，用于一对多或多对一或字段名和属性名不一致的情况
    -->

    <select id="getOneUser" resultType="User">
        select * from t_user where id = '4'
    </select>

    <select id="getAllUser" resultType="com.atguigu.www.pojo.User">
        select * from t_user
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_user
        where 
    </delete>

    <delete id="deleteUser">
        delete from  t_user where id ='5'
    </delete>

    <insert id="insertUser">
        insert into t_user
        values (null,'Three','123123','23','男','1239123@QQ.COM')
    </insert>






    <insert id="insert">
        insert into t_user
        ( id,username,password
        ,age,gender,email
        )
        values (#{id,jdbcType=INTEGER},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}
        ,#{age,jdbcType=INTEGER},#{gender,jdbcType=CHAR},#{email,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="username != null">username,</if>
                <if test="password != null">password,</if>
                <if test="age != null">age,</if>
                <if test="gender != null">gender,</if>
                <if test="email != null">email,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="username != null">#{username,jdbcType=VARCHAR},</if>
                <if test="password != null">#{password,jdbcType=VARCHAR},</if>
                <if test="age != null">#{age,jdbcType=INTEGER},</if>
                <if test="gender != null">#{gender,jdbcType=CHAR},</if>
                <if test="email != null">#{email,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.www.pojo.User">
        update t_user
        <set>
                <if test="id != null">
                    id = #{id,jdbcType=INTEGER},
                </if>
                <if test="username != null">
                    username = #{username,jdbcType=VARCHAR},
                </if>
                <if test="password != null">
                    password = #{password,jdbcType=VARCHAR},
                </if>
                <if test="age != null">
                    age = #{age,jdbcType=INTEGER},
                </if>
                <if test="gender != null">
                    gender = #{gender,jdbcType=CHAR},
                </if>
                <if test="email != null">
                    email = #{email,jdbcType=VARCHAR},
                </if>
        </set>
        where  
    </update>
    <update id="updateByPrimaryKey" parameterType="com.atguigu.www.pojo.User">
        update t_user
        set 
            id =  #{id,jdbcType=INTEGER},
            username =  #{username,jdbcType=VARCHAR},
            password =  #{password,jdbcType=VARCHAR},
            age =  #{age,jdbcType=INTEGER},
            gender =  #{gender,jdbcType=CHAR},
            email =  #{email,jdbcType=VARCHAR}
        where  
    </update>

    <update id="updateUser">
        update t_user set password='111111' where id ='3'
    </update>

</mapper>
