<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--1.传统模式-->
   <!-- <bean id="userDao" class="com.atguigu.www.dao.impl.UserDaoImpl"></bean>
    <bean id="userService" class="com.atguigu.www.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="userController" class="com.atguigu.www.controller.UserController">
        <property name="userService" ref="userService"/>
    </bean>-->

    <!--2.自动装配autowire -byType-->
<!--    <bean id="userDaoAuto" class="com.atguigu.www.dao.impl.UserDaoImpl"></bean>
    <bean id="userServiceAuto" class="com.atguigu.www.service.impl.UserServiceImpl" autowire="byType"/>
    <bean id="userControllerAuto" class="com.atguigu.www.controller.UserController" autowire="byType"/>-->

    <!--3.自动装配autowire -byName-->
    <bean id="userDao" class="com.atguigu.www.dao.impl.UserDaoImpl"></bean>
    <bean id="userService" class="com.atguigu.www.service.impl.UserServiceImpl" autowire="byName"/>
    <bean id="userControllerAuto" class="com.atguigu.www.controller.UserController" autowire="byName"/>
</beans>
